#simplemodal-container a.modalCloseImg {
	background:url(../../image/close.png) no-repeat; /* adjust url as required */
	width:22px;
	height:26px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-5px;
	right:-5px;
	cursor:pointer;
}

#simplemodal-overlay {background-color:#000;}  
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;color:#ffffff}  